.resetpage-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.discription {
    position: absolute;
    height: 96px;
    left: 150px;
    right: 150px;
    top: 24px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #fff;
}

.content-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box-reset {
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    width: 35rem;
  }
  
  .title-reset {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
  }
  
  .input-group-reset {
    margin-top: 3rem;
    display: flex; 
    align-items: center; 
  }
  
  .labe-reset {
    font-size: 1.25rem;
    color: #fff;
    width: 100%; 
  }
  
  .input-reset {
    padding: 0.5rem;
    background: #fff;
    border: 1px solid #fff;
    outline: none;
    width: 100%; 
  }
  
  .button-group-reset {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 3rem;
  }
  
  
  .reset-button {
    width: 50%;
    padding: 0.5rem;
    background: linear-gradient(180deg, rgba(6, 3, 48, 0) 0%, rgba(6, 3, 48, 0.42) 34%, #060330 100%);
    border-radius: 15px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
  }
  
  .reset-button:hover {
    background: transparent;
    color: #fff;
  }
  